@charset "utf-8";

.zx_contents {
	.row {
		position:relative; 
		max-width:1260px;
		margin:0 auto;
		* {
			word-break: keep-all;
			letter-spacing: -.8px;
			font-family: 'Spoqa Han Sans', 'notokr-regular', 'Dotum', verdana;
		}
		strong {
			font-weight: 700;
		}
	}
	img {
		max-width:100%;
	}
	.yellow {
		color:#ffda17;
	}
	.animate { 
		visibility: hidden; 
		top: 0; 
		opacity: 0; 
		-webkit-transition: ease-in-out 0.4s 0.2s; 
		-moz-transition: ease-in-out 0.4s 0.2s; 
		-o-transition: ease-in-out 0.4s 0.2s; 
		transition: ease-in-out 0.4s 0.2s; 
		&.slideToLeft { 
			-webkit-transform: translate3d(-50%, 0, 0); 
			-moz-transform: translate3d(-50%, 0, 0); 
			-o-transform: translate3d(-50%, 0, 0); 
			transform: translate3d(-50%, 0, 0); 
		}
		&.slideToRight { 
			-webkit-transform: translate3d(40%, 0, 0); 
			-moz-transform: translate3d(40%, 0, 0); 
			-o-transform: translate3d(40%, 0, 0); 
			transform: translate3d(40%, 0, 0); 
		}
		&.zoomIn {
			-webkit-transform: scale3d(.3, .3, .3);
			-ms-transform: scale3d(.3, .3, .3);
			transform: scale3d(.3, .3, .3)
		}
	}
	.is-active {
		.animate { 
			visibility: visible; 
			opacity: 1; 
			&.slideToLeft, &.slideToRight { 
				-webkit-transform: translate3d(0, 0, 0); 
				-moz-transform: translate3d(0, 0, 0); 
				-o-transform: translate3d(0, 0, 0); 
				transform: translate3d(0, 0, 0); 
			}
			&.zoomIn {
				-webkit-transform: scale3d(1, 1, 1);
				-ms-transform: scale3d(1, 1, 1);
				transform: scale3d(1, 1, 1)
			}
		}
	}
	.half {
		position:relative;
		float:left;
		&._left {
			text-align: left;
		}
		&._right {
			text-align: right;
		}
	}
	.tag {
		display: inline-block;
		padding:8px 10px;
		margin-bottom:7px;
		border:1px solid rgba(255,255,255, .5);
		color:#fff;
		font-size:19px;
		font-weight: 700;
	}
	.txtdl {
		margin-top:15px;
		text-align: left;
		dt {
			p:not(.tag)  {
				font-size:50px;
				font-weight: 700;
				line-height: 1.2;
				color:#fff;
			}
		}
		dd {
			margin-top:25px;
			font-size:23px;
			color:#be7171;
			line-height: 1.5;
			p {
				margin-bottom:5px;
				font-size:inherit;
				font-weight: 700;
				color:#fff;
			}
		}
	}
	.area {
		padding-top:100px;
		&:after {
			content:'';
			display: block;
			clear:both;
		}
		.t1 {
			font-size: 30px;
			font-weight: 700;
			color:#d70000;
			line-height: 1.4;
		}
		.t2 {
			margin-top:5px;
			font-size: 30px;
			font-weight: 700;
			color:#fff;
		}
		.t3 {
			font-size:20px;
			font-weight: 700;
			color:#d51e16;
		}
		ul.desc {
			margin-top:25px;
			li {
				margin-top:5px;
				font-size:20px;
				color:#9c9c9c;
			}
		}
		.more {
			margin-top:50px;
			ul.desc {
				margin-top:5px;
				margin-bottom:25px;
			}
		}
	}
}
// zx_contents
.zx_page2 {
	background-color:#000;
	.bg_visual {
		position:relative;
		width:100%;
		height:630px;
		background: {
			repeat: no-repeat;
			position:center center;
			size:contain;
		}
		.box {
			position:absolute; left:50%; top:50%;
			-webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%);
		}
		p {
			margin:13px 0;
		}
	}
}
// zx_page2
.zx_page3 {
	background: {
		color:#000;
		position:center bottom;
		repeat:no-repeat;
		size:cover;
	}
	text-align: center;
	.area01 {
		padding-bottom:175px;
		.fig {
			max-width:816px;
			margin:0 auto 90px;
			img {
				margin-right:-25%;
			}
		}
		.text {
			margin-top:50px;
			font-size:35px;
			font-weight: 700;
			color:#fff;
		}
	}
	.area02 {
		._left {
			width:45%;
		}
		._right {
			width:55%;
		}
		.fig {
			text-align: right;
		}
		.txt01 {
			position: absolute;
			top:240px;
		}
	}
	.area03 {
		._left {
			width:60%;
			.fig {
				max-width:413px;
				margin-left:35px;
			}
		}
	}
	.area04 {
		._left {
			width:580px;
			.txt01 {
				position: absolute;
				top:130px;
				right:0;
			}
		}
		._right {
			width:calc(100% - 580px);
			.txt01 {
				position: absolute;
				top:70px;
				right:-120px;
			}
			.fig {
				text-align: center;
			}
		}
	}
	.area05 {
		padding-bottom:145px;
		._left {
			width:60%;
			.fig {
				max-width:580px;
				margin-top:90px;
			}
		}
		._right {
			width:40%;
			.fig {
				margin:0 auto;
				&:first-child {
					img {
						max-width:464px;
					}
				}
				&:last-child {
					img {
						max-width:502px;
					}
				}
				margin-top:65px;
			}
		}
	}
}
// zx_page3
.zx_page4, .zx_page13 {
	padding:25px 0 100px;
	background-color: #303030;
	.row {
		max-width:1250px;
	}
	.area {
		.half {
			width:calc(50% - 100px);
			&._left {
				padding-right:100px;
			}
			&._right {
				padding-left:100px;
				text-align: left;
			}
		}
	}
	.area01 {
		text-align: center;
		span {
			display: block;
			font-size:25px;
			font-weight: 700;
			color:#fff;
		}
		p {
			margin-top:10px;
			font-size:50px;
			font-weight: 700;
			color:#fff;
		}
	}
	.area02 {
		.fig {
			margin-bottom:35px;
		}
	}
	.area03 {
		.half {
			.fig {
				margin-bottom:35px;
			}
			&._left {
				width:calc(50% - 50px);
				padding-right:50px;
				.fig {
					margin-bottom:63px;
				}
			}
		}
	}
}
.zx_page13 {
	.area .half {
		text-align: center;
		.fig {
			text-align: center;
		}
		.t1 {
			text-align: center;
		}
		.desc {
			margin-top:10px;
			text-align: center;
		}
	}
}
// zx_page4
.zx_page5 {
	background-color: #000;
	.row {
		position:relative;
		max-width:1250px;
		height:630px;
		background: {
			repeat:no-repeat;
			position: left 60px center;
			size:contain;
		}
		.fig {
			position:absolute; top:50%; left:50%;
			-webkit-transform: translate(-50%, -50%) !important; 
			transform: translate(-50%, -50%) !important; 
			max-width:448px;
		}
	}
}
// zx_page5
.zx_page6, .zx_page8 {
	padding-bottom:145px;
	background: {
		repeat: no-repeat;
		position:center bottom;
		size:cover;
	}
	.row {
		position:relative;
	}
	.area01 {
		padding-bottom:45px;
		text-align: center;
		p {
			font-size:50px;
			font-weight: 700;
			color:#fff;
			line-height: 1.3;
		}
		span {
			display: block;
			margin-top:35px;
			font-size:23px;
			color:#fff;
		}
	}
	._box {
		padding-top:0;
		background-color: #1b1b1b;
		border-radius: 70px;
		margin-top:50px;
		.half {
			position: relative;
			width:50%;
			min-height:580px;
		}
		.fig {
			width:100%;
			position:absolute; top:50%; left:50%;
			-webkit-transform: translate(-50%, -50%); 
			transform: translate(-50%, -50%); 
			text-align: center;
		}
		.txtdl {
			width:470px;
			position:absolute; top:50%; left:50%;
			-webkit-transform: translate(-50%, -50%); 
			transform: translate(-50%, -50%); 
			margin-top:0;
			dd {
				color:#9d9d9d;
			}
		}
	}
}
.zx_page8 {
	.area02 {
		&._box {
			.half {
				min-height: 580px;
			}
		}
	}
	.area03 {
		&._box {
			.half {
				min-height: 500px;
			}
		}
	}
	.area04 {
		&._box {
			.half {
				min-height: 500px;
			}
			.fig {
				top:inherit;
				bottom:0;
				-webkit-transform: translate(-50%, 0) !important; 
				transform: translate(-50%, 0) !important; 
			}
		}
	}
}
.zx_page7 {
	background-color:#000;
	.row {
		position:relative;
		max-width:1250px;
		height:630px;
		background: {
			repeat: no-repeat;
			position: left bottom;
			size:contain;
		}
		.fig {
			position:absolute; top:50%; left:50%;
			-webkit-transform: translate(-50%, -50%) !important; 
			transform: translate(-50%, -50%) !important; 
			max-width:448px;
		}
	}
}
.zx_page9 {
	background-color: #000;
	.row {
		position:relative;
		max-width:1250px;
		height:630px;
		background: {
			repeat:no-repeat;
			position: right center;
			size:contain;
		}
		.fig {
			position:absolute; top:50%; left:50%;
			-webkit-transform: translate(-50%, -50%) !important; 
			transform: translate(-50%, -50%) !important; 
			max-width:448px;
		}
	}
}
.zx_page10 {
	padding-bottom:140px;
	background: {
		repeat: no-repeat;
		position:center top;
		size:cover;
	}
	.area01 {
		padding-bottom:45px;
		text-align: center;
		p {
			font-size:50px;
			font-weight: 700;
			color:#fff;
			line-height: 1.3;
		}
		span {
			display: block;
			margin-top:35px;
			font-size:23px;
			color:#fff;
		}
	}
	._box {
		position:relative;
		padding-top:0;
		background-color: #1b1b1b;
		border-radius: 70px;
		margin-top:50px;
		min-height:575px;
		> p {
			display: inline-block;
			padding:75px 0 0 85px;
			font-size:23px;
			color:#9d9d9d;
		}
		.text {
			position: absolute;
			left:50%;
			top:75px;
			width:100%;
			-webkit-transform: translate(-50%, 0); 
			transform: translate(-50%, 0); 
			text-align: center;
			z-index: 1;
		}
		.fig01 {
			position: absolute;
			left:50%;
			bottom:-80px;
			-webkit-transform: translate(-40%, 0); 
			transform: translate(-40%, 0); 
		}
		.fig02 {
			position: absolute;
			right:55px;
			top:-85px;
		}
	}
}
.zx_page11 {
	height:630px;
	background: {
		repeat: no-repeat;
		position:center top;
		size:cover;
	}
	.row {
		height:100%;
		> div {
			position: absolute;
			left:50%;
			top:50%;
			-webkit-transform: translate(-50%, -50%); 
			transform: translate(-50%, -50%); 
		}
		.fig {
			margin:15px 0;
		}
	}
}
.zx_page12 {
	padding:120px 0;
	background: {
		repeat:no-repeat;
		position: center bottom;
		size:cover;
	}
	.half {
		width:50%;
	}
	._box {
		position:relative;
		padding:60px 85px 60px;
		background-color: #1b1b1b;
		border-radius: 70px;
		margin-top:50px;
	}
	.txtdl {
		dd {
			color:#9d9d9d;
			span {
				color:#fff;
			}
		}
	}
	.area02 {
		.fig {
			padding-top:10%;
			text-align: left;
		}
	}
	.area04 {
		min-height:850px;
		padding:0;
		background: {
			repeat:no-repeat;
			position: right center;
			size:auto 740px;
		}
		.txtdl {
			margin-bottom:50px;
		}
		.half {
			width:60%;
			&._left {
				padding:80px;
			}
		}
		.cont {
			display: inline-block;
			width:30%;
			padding-right:20px;
			p {
				margin-top:35px;
				font-size:15px;
				color:#9d9d9d;
			}
		}
	}
}
// .zx_page12
.zx_page14 {
	height:515px;
	background: {
		repeat:no-repeat;
		position: center center;
		size:cover;
	}
	.row {
		height:100%;
		> div {
			position: absolute;
			left:50%;
			top:50%;
			-webkit-transform: translate(-50%, -50%); 
			transform: translate(-50%, -50%); 
			text-align: center;
		}
		p {
			font-size:40px;
			font-weight: 700;
			color:#d70000;
		}
		.lnk {
			display: inline-block;
			margin-top:20px;
			font-size:25px;
			color:#fff;
			i {
				margin-top:-5px;
				margin-left:5px;
				display: inline-block;
				width: 10px;
				height: 10px;
				border-top: 2px solid #fff;
				border-right: 2px solid #fff;
				transform: rotate(45deg);
				vertical-align: middle;
			}
		}
	}
}



